@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    /* Color  */
    --blue:#755CDE;
    --orange:#F6A560;
    --pink:#F39E9E;
    --red:#EB7565;
    --light-blue:#61C4B7;
    --brown:#552049;
    --black:#030303;
    --gray:#7A746E;
    --white:#FFF7F0;

    /* Fonts  */
    --fl:56px;
    --fm:40px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.button{
    display: inline-block;
    padding: 14px 45px;
    border-radius: 28px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    color: var(--white);
    background-color: var(--black);
}

.button:hover{
    background-color: var(--blue);
}

.button-red{
    background-color: var(--red);
}

.button-red:hover{
    background-color: var(--orange);
}

body{
    background-color: var(--white);
    font-size: 18px;
    color: var(--gray);
    font-family: "Plus Jakarta Sans", Arial , sans-serif;
}

*:focus{
    outline: 2px dashed var(--blue);
    outline-offset: 2px;
}

/* Universal */

.universal-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:40px;
    padding-bottom: 40px;
}
.universal-logo {
    width: 64px;
    height: 64px;
}

/* Hero */
.hero {
    padding-top: 26px;
    padding-bottom: 40px;
}

.hero-container {
    text-align: center;
    max-width: 792px;
}

.hero-title {
    font-size: var(--fl);
    margin-bottom: 23px;
    color: var(--black);
}

/* Info */

.info {
    padding-top: 68px;
    padding-bottom: 68px;
}

.info-container {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}
.info-img {
    border-radius: 50%;
    width: 445px;
    height: 445px;
}
.info-content {
    max-width: 540px;
}
.info-title {
    color: var(--black);
    font-size: var(--fm);
    margin-bottom: 34px;
}
.info-text {
    margin-bottom: 32px;
}

/* Solutions */
.solutions {
    padding-top: 40px;
    padding-bottom: 68px;
}

.solutions-grid {
    display: grid;
    grid-template-columns: minmax(auto, 354px) 1fr 1fr minmax(auto, 354px);
    grid-template-rows: 182px 158px;
    list-style: none;
    gap: 24px;
}
.solutions-item {
    display: flex;
    align-items: end;
    position: relative;
    border-radius: 8px;
    padding: 24px;
}
.solutions-item1 {
    grid-row: 1/3;
    background-color: var(--blue);
}
.solutions-title {
    font-size: 24px;
    color: var(--white);
}
.solutions-img {
    position: absolute;
    top: 24px;
    right: 24px;
}
.solutions-item2 {
    background-color: var(--orange);
}
.solutions-item3 {
    background-color: var(--pink);
}
.solutions-item4 {
    background-color: var(--light-blue);
}
.solutions-item5 {
    grid-column: 2/4;
    background-color: var(--red);
}
.solutions-item6 {
    background-color: var(--brown);
}
/* 900  */
@media (max-width:900px){
    :root{
        --fm:32px;
    }
    .info-img {
        width: 364px;
        height: 364px;
        margin-left: -40px;
    }
}
/* 750 */
@media (max-width:750px){
    .solutions-grid {
        grid-template-columns: minmax(auto, 333px) 1fr 1fr ;
        grid-template-rows: 182px 158px 182px;
    }
    .solutions-item4{
        grid-column: 1/2;
    }
    .solutions-item5{
        grid-row: 2/3;
    }
    .solutions-item6{
        grid-column: 2/4;
    }
}
/* 650 */
@media (max-width:650px){
    :root{
        --fl:44px;
        --fm:26px;
    }
    .info-container{
        flex-direction: column;
        align-items: center;
    }

    .info-content{
        text-align: center;
    }
    .info-img {
        width: 300px;
        height: 300px;
        margin-left: 0px;
    }
}
/* 550 */
@media (max-width:550px){
    .solutions-grid {
        grid-template-columns: repeat(2, 1fr) ;
    }
    .solutions-item{
        grid-column: 1/3;
    }
    .solutions-item2{
        grid-column: 1/2;
    }
    .solutions-item3{
        grid-column: 2/3;
    }
    .solutions-item5{
        grid-row: 4/5;
        min-height: 158px;
    }
    .solutions-item4{
        min-height: 158px;
    }
    .solutions-item6{
        min-height: 158px;
    }
}
/* 375 */
@media (max-width:375px){
    :root{
        --fl:36px;
    }
    .body{
        font-size: 16px;
    }
}